.basic-image {
  height: 10rem;
  width: 10rem;
}

.header {
  display: flex;
  flex-direction: column;
}
.card-layout {
  display: flex;
}
.card {
  max-width: 10rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 12px;
  border: 2px dotted;
}
.svg-size {
  max-width: 5rem;
  max-height: 5rem;
}
/* A simple transition can be done by setting the property, speed, and timing function */
.blue-svg {
  transition: fill 300ms ease-out;
}
/* Then set anything you want to change on hover as you want it to be changed */
.blue-svg:hover {
  fill: blue;
}
/* using the all selector in transform, you can make multiple properties change */
.scale-red-svg {
  transition: all 1s ease;
}
.scale-red-svg:hover {
  transform: scale(2);
  fill: red;
}

/* The transform-origin and transform-box keep the head spinning on a central point */
.head {
  transition: transform 2s ease;
  transform-origin: center;
  transform-box: fill-box;
}
.head:hover {
  transform: rotate(180deg);
}
